[submodule "Google-Coding-Competitions"]
	path = Google-Coding-Competitions
	url = https://github.com/Dup4/Google-Coding-Competitions.git
[submodule "PTA"]
	path = PTA
	url = https://github.com/Dup4/PTA.git
[submodule "TI1049-Code-Repo"]
	path = TI1049-Code-Repo
	url = https://github.com/Dup4/TI1049-Code-Repo.git
[submodule "Leetcode-Code-Repo"]
	path = Leetcode-Code-Repo
	url = https://github.com/Dup4/Leetcode-Code-Repo.git
